@model IEnumerable<Semillero_ProgramacioFinal.Models.sp_historialCompetenciaU_Result>

@{
    ViewBag.Title = "resultadosCompetenciaU";
    Layout = "~/Views/Shared/_LayoutSesion.cshtml";
    var it = 1;
    var id = 1;
}








<div class="box container">
    <div class="box-header with-border">
        <h3 class="box-title">Resultado Competencia</h3>
    </div>


    <!-- /.box-header -->
    <div class="">

        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.idGrupo)
                </th>
                <th>
                    <label>Participante 1</label>
                </th>

                <th>
                    <label>Participante 2</label>
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.NombreEquipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoEquipo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Nivel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.puesto)
                </th>
                
            </tr>

            @foreach (var item in Model)
            {
                if (it%2!=0)
                {

                
                <tr>
                    <td>
                        @id
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreParticipante1)

                        @Html.DisplayFor(modelItem => item.ApellidoParticipante1)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.NombreParticipante2)

                        @Html.DisplayFor(modelItem => item.ApellidoParticipante2)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.NombreEquipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoEquipo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nivel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.puesto)
                    </td>
                    
                </tr>
                    id++;
                }
                it++;
            }

        </table>  


    </div>

</div>
